1. The assistant should lead the user
    - Funny, devious, cool behavior

2. Final card created
3. Runtime isn't 100% open-ended
4. It's mainly the agent talking, we don't allow the callee for big dynamic


Architecture:
[*] Authoring Assistant & Runtime Call Agent
[*] Intent-driven response



Outcome:
Hook (0–5s) – “why is this person calling me?”
Orientation (5–15s) – “what is this about?”
Cognitive dissonance (15–35s) – “this doesn’t make sense”
Peak (35–50s) – confusion/awkwardness spikes
Exit (≤60s) – clean stop before it collapses

Premise type:
Complaint (you caused a problem)
Report/Witness (I saw something involving you)
Mistaken context (I think you’re involved in X)
Offer/Opportunity (you won something / can get something)
Awkward find (you left something)
Quality critique (your thing is… off)

Emotional layer:
Confusion
Embarrassment
Mild defensiveness
Curiosity
Social awkwardness


3 moves:
State: “портокалите ви имат странен вкус”
Clarify: “като нещо… не мога да го определя”
Twist: “като прилепа от Ковид”

overly serious
confused witness
polite but off
slightly irritated
too enthusiastic

Humour engineering


IN the end, seems like we have a main categorization as prank type:

1. Chaos Generator
    - something weird, meaningless, maybe will focus on calmer voices or weirder ones. 
2. Structured Reality
    - fake system engagement. Looks more formal -> "избрани сте за гей на годината".
3. Mistaken Continuation
    - again nonsense, but starting like we know the topic
4. Reverse Concern
    - worried about them for something absurd
5. Micro accusation
    - you have made something weird. Mild blame + unclear clause
6. Useless offer
    - something pointless, but treated seriously 